.table-container {
    width: 100%;
    overflow: auto; /* Use 'auto' for both horizontal and vertical scrolling */
  }
  
  .table-scroll {
    white-space: normal;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    max-width: 100%; /* Ensure the table doesn't exceed its container */
  }